{% extends "base/base.html" %}
{% block content %}
    <section>
        <h2>Domů</h2>
        <div class="d-flex">
            {% for projekt in projects %}
                {% include "projekt_card.html" %}
            {% endfor %}
        </div>
    </section>
    <div class="d-flex">
        <div>
            <h3>Portfolio</h3>
            <p>Zde naleznete přehled mých projektů.</p>
        </div>
        <div>
            <h3>Kontakt</h3>
            <p>Kontaktuj mě.</p>
        </div>
{% endblock %}
</body>

</html>
